language: node_js
cache: npm
branches:
  only:
    - master
notifications:
  email: false
node_js:
  # - '12'
  - '11'
  - '10'
before_script:
  - npm prune
install:
  - npm install
script:
  - npm run test
